<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <p>
    <%= form.label "title", "Title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "long description", "Long Description" %>
    <%= form.text_field "long description" %>
  <p>
    <%= form.label "date", "Date" %>
    <%= form.date_field "date" %>
  </p>

    <%= form.hidden_field "place_id" %>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>