<h1><%= @place["name"] %> </h1>

<% @posts.each do |post| %>
  <div style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
    <h2>Title: <%= post["title"] %></h2>
    <% if post["posted_on"].present? %>
      <p>Date: <%= post["posted_on"].strftime("%B %d, %Y") %></p> <!-- formatted date -->
    <% end %>
    <p>Description: <%= post["description"] %></p>
  </div>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>
